<div ng-controller="CharactersController">
  <div class="navigation">
    <div class="slider">
      <div ng-repeat="character in characters"
        marvel-image="{{character.thumbnail.path + '.' + character.thumbnail.extension}}">
        <div>{{character.name}}</div>
      </div>
    </div>
  </div>
</div>


    <!-- <H4> Comics </h4>
    <div ng-repeat="comic in character.comics.items">
      <p>{{comic.name}} - <a ng-href="{{comic.resourceURI}}">(source)</a><p>
    </div>

    <h4> Additional Resource </h4>
    <div ng-repeat="url in character.urls">
      <a ng-href="{{url.url}}">({{url.type}})</a>
    </div>
  </div>
</div>
<div class="col-sm-7">
  <div ui-view></div>
</div>
</div>
 -->
