<div ng-controller="CharactersController">
  <!-- <div class="navigation">
    <div ng-repeat="character in characters"
      marvel-image="{{character.thumbnail.path + '.' + character.thumbnail.extension}}">
      <div><a href=""{{character.name}}</div>
    </div>
  </div> -->
  <ul>
    <li ng-repeat="character in characters">
      <a ng-href="/#/characters/{{character.id}}">{{character.name}}</a>
    </li>
  </ul>
  <div class="menu">
    <div>Characters</div>
    <div>Details</div>
    <div>Options</div>
  </div>
</div>


    <!-- <H4> Comics </h4>
    <div ng-repeat="comic in character.comics.items">
      <p>{{comic.name}} - <a ng-href="{{comic.resourceURI}}">(source)</a><p>
    </div>

    <h4> Additional Resource </h4>
    <div ng-repeat="url in character.urls">
      <a ng-href="{{url.url}}">({{url.type}})</a>
    </div>
  </div>
</div>
<div class="col-sm-7">
  <div ui-view></div>
</div>
</div>
 -->
