<div ng-controller="CharactersController">
  <h1> Characters </h1>
  <div ng-repeat="character in characters">
    <h3>{{character.name}}</h3>
    <img ng-src="{{character.thumbnail.path + '.' + character.thumbnail.extension}}">

    <H4> Comics </h4>
    <div ng-repeat="comic in character.comics.items">
      <p>{{comic.name}} - <a ng-href="{{comic.resourceURI}}">(source)</a><p>
    </div>

    <h4> Additional Resource </h4>
    <div ng-repeat="url in character.urls">
      <a ng-href="{{url.url}}">({{url.type}})</a>
    </div>
  </div>
</div>
