// bower:js
script(src='../../../bower_components/jquery/dist/jquery.js')
script(src='../../../bower_components/angular/angular.js')
script(src='../../../bower_components/angular-resource/angular-resource.js')
script(src='../../../bower_components/angular-cookies/angular-cookies.js')
script(src='../../../bower_components/angular-mocks/angular-mocks.js')
script(src='../../../bower_components/angular-route/angular-route.js')
script(src='../../../bower_components/bootstrap/dist/js/bootstrap.js')
script(src='../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='../../../bower_components/angular-ui-router/release/angular-ui-router.js')
script(src='../../../bower_components/lodash/dist/lodash.compat.js')
script(src='../../../bower_components/restangular/dist/restangular.js')
// endbower
