@import url(http://fonts.googleapis.com/css?family=Nunito);
.characters {
  padding: 40px;
  margin-left: 5%;
  width: 40%;
  border: 1px solid white;
  background: rgba(60, 60, 62, 0.8);
  list-style: none;
}
.characters li {
  display: inline-block;
  margin: 2%;
}
.characters .test {
  -webkit-mask-image: url(../../characters/assets/images/oct.png);
  -webkit-mask-origin: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 90px 96px;
}
.characters .character {
  padding: 5px;
  border: 3px solid #fff;
  border-radius: 45px;
}
.characters .character img {
  width: 75px;
  height: 75px;
  border: 1px solid red;
  border-radius: 40px;
}
.menu {
  list-style: none;
}
.menu-item {
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
}
.menu-item a {
  font-size: 2.3rem;
  text-decoration: none;
  color: #fff;
}
.menu-item a .link {
  text-align: center;
  height: 100%;
}
.menu-item a .link p {
  position: relative;
  top: 35%;
}
.menu-item .silhouette {
  height: 100%;
  background: #222;
  background: rgba(34, 34, 34, 0.3);
}
.menu-item:nth-child(1) {
  background-image: url("../../menu/assets/images/characters.jpg");
}
.menu-item:nth-child(2) {
  background-image: url("../../menu/assets/images/comics.jpg");
}
.menu-item:nth-child(3) {
  background-image: url("../../menu/assets/images/creators.jpg");
}
.menu-item:nth-child(4) {
  background-image: url("../../menu/assets/images/events.jpg");
}
.menu-item:nth-child(5) {
  background-image: url("../../menu/assets/images/series.jpg");
}
.menu-item:nth-child(6) {
  background-image: url("../../menu/assets/images/stories.jpg");
}
@media only screen and (min-width: 750px) {
  .menu-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #222;
    background-image: url("../../menu/assets/images/background.png");
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  .menu-back .silhouette {
    height: 100%;
    background: #222;
    background: rgba(34, 34, 34, 0.5);
  }
  .menu-item {
    width: calc(100% / 6);
    float: left;
    margin: 0;
    margin-top: 3%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .menu-item a .link p {
    top: 50%;
  }
  .menu-item .silhouette {
    background: rgba(34, 34, 34, 0.8);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .expand {
    width: calc((100% / 6) + 50px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .expand .silhouette {
    background: rgba(34, 34, 34, 0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .contract {
    width: calc((100% / 6) - 10px);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}
body {
  background-color: #202525;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
