@import url(http://fonts.googleapis.com/css?family=Nunito);
.navigation {
  overflow-x: hidden;
}
.navigation div {
  height: 150px;
  width: 150px;
  float: left;
  background: rgba(35, 35, 35, 0.2);
}
.menu {
  position: fixed;
  bottom: 10;
  list-style: none;
}
.menu div {
  display: inline-block;
}
.menu div:nth-child(1) {
  -webkit-transform: rotateZ(-20deg);
  transform: rotateZ(-20deg);
}
.menu div:nth-child(3) {
  -webkit-transform: rotateZ(20deg);
  transform: rotateZ(20deg);
}
.menu-item {
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
}
.menu-item a {
  font-size: 2.3rem;
  text-decoration: none;
  color: #fff;
}
.menu-item a .link {
  text-align: center;
  height: 100%;
}
.menu-item a .link p {
  position: relative;
  top: 35%;
}
.menu-item .silhouette {
  height: 100%;
  background: #222;
  background: rgba(34, 34, 34, 0.3);
}
.menu-item:nth-child(1) {
  background-image: url("../../menu/assets/images/characters.jpg");
}
.menu-item:nth-child(2) {
  background-image: url("../../menu/assets/images/comics.jpg");
}
.menu-item:nth-child(3) {
  background-image: url("../../menu/assets/images/creators.jpg");
}
.menu-item:nth-child(4) {
  background-image: url("../../menu/assets/images/events.jpg");
}
.menu-item:nth-child(5) {
  background-image: url("../../menu/assets/images/series.jpg");
}
.menu-item:nth-child(6) {
  background-image: url("../../menu/assets/images/stories.jpg");
}
@media only screen and (min-width: 750px) {
  .menu-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #222;
    background-image: url("../../menu/assets/images/background.png");
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  .menu-back .silhouette {
    height: 100%;
    background: #222;
    background: rgba(34, 34, 34, 0.5);
  }
  .menu-item {
    width: calc(100% / 6);
    float: left;
    margin: 0;
    margin-top: 3%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .menu-item a .link p {
    top: 50%;
  }
  .menu-item .silhouette {
    background: rgba(34, 34, 34, 0.8);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .expand {
    width: calc((100% / 6) + 50px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .expand .silhouette {
    background: rgba(34, 34, 34, 0);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .contract {
    width: calc((100% / 6) - 10px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}
body {
  background-color: #202525;
  color: #fff;
  font-family: 'Nunito', sans-serif;
}
