.characters {
  padding: 40px;
  margin-left: 5%;
  width: 40%;
  border: 1px solid white;
  background: rgba(60, 60, 62, 0.8);
  list-style: none;
  border-radius: 0 20px;

  -webkit-transform: rotateY(70deg);
          transform: rotateY(70deg);

  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;

  li {
    display: inline-block;
    margin: 2%;
  }

  li:hover {
    .character {
      .transition(all);

      img {

        -webkit-transform: translateZ(0px);
                transform: translateZ(0px);
      }
    }
  }

  .character {
    padding: 5px;
    border: 3px solid #fff;
    border-radius: 45px;

    img {
      width: 75px;
      height: 75px;
      border: 1px solid red;
      border-radius: 40px;

      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);

      .transition(all);
    }
  }
}

.hud-panel {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.menu {
  list-style: none;
}

.character-detail {
  visibility: hidden;
}

.character-tab {
  visibility: visible;
}
